<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
<<<<<<< HEAD
    <p>Bem Vindo <%= title %></p>
=======
    <p>Welcome <%= title %></p>
>>>>>>> new_feature_branch
  </body>
</html>